@import "./partials/style";


body {
    #body-album {
        height: calc(100vh - 120px);
        overflow-y: scroll;

        #header-album {
            background: linear-gradient(rgb(68, 67, 67), #3d92f400);

        }
    }
}